body {
    display: flex;
}

#clockBody {
    display: flex;
    height: 400px;
    width: 50%;
    margin: auto;
    background-color: black;
    padding: 30;
}

.clockNumberFrame {
    height: 350px;
    width: 100px;
    margin: auto;
    padding: 10
}

.divider h1 {
    font-size: 150;
    color: red;
}

.t {
    height: 10%;
    width: 100%;
    background-color: red;
    border: 1 black solid;
}

.b {
    height: 10%;
    width: 100%;
    background-color: red;
    position: relative;
    bottom: 420;
    border: 1px black solid;
}

.m {
    height: 10%;
    width: 100%;
    background-color: red;
    position: relative;
    bottom: 625;
    border: 1px black solid;
}

.lt {
    height: 50%;
    width: 25%;
    position: relative;
    bottom: 30;
    background-color: red;
    border: 1px black solid;
}

.lb {
    height: 50%;
    width: 25%;
    left: 0px;
    bottom: 35px;
    position: relative;
    background-color: red;
    border: 1px black solid;
}

.rt {
    height: 50%;
    width: 25%;
    position: relative;
    left: 75%;
    bottom: 385;
    background-color: red;
    border: 1px black solid;
}

.rb {
    height: 50%;
    width: 25%;
    position: relative;
    left: 75%;
    bottom: 385;
    background-color: red;
    border: 1px black solid;
}
